@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  user-select: none;
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

:root {
  --dark: rgb(61, 61, 61);
  --darker: rgb(20, 20, 20);
  --green: #2ecc71;
  --white: #fcfcfc;
  --red: rgb(228, 69, 88);
  --darkBlue: rgba(38, 74, 202, 1);
  --lightBlue: rgba(51, 99, 231, 1);
}

body {
  color: var(--white);
  background-color: var(--lightBlue);
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.1rem;
  height: 88vh;
  transition: height 0.3s ease-in-out;
}

/*
WAVES
*/
.upper-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -10;
}

.upper-wave svg {
  position: relative;
  display: block;
  min-width: calc(147% + 1.3px);
  height: 154px;
}

.upper-wave .shape-fill {
  fill: #264aca;
}

footer {
  position: relative;
}

.bottom-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -10;
}

.bottom-wave svg {
  position: relative;
  display: block;
  min-width: calc(219% + 1.3px);
  height: 218px;
  transform: rotateY(180deg);
}

.bottom-wave .shape-fill {
  fill: #264aca;
}

/*
--------------------------------HEADER-------------------------------------
*/

header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 10vh;
  z-index: 2;
}

.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}

#header-shop-name {
  position: absolute;
  left: 50vw;
  width: 0vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-shop-name > a {
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: -2px;
  color: var(--white);
}

/*
-------------------------------------------HEADER LINKS---------------------------------
*/

#header-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.h-link {
  font-size: 2.1rem;
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
  position: relative;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}

.h-link:after {
  content: "";
  position: absolute;
  background-color: var(--red);
  height: 4px;
  width: 0;
  left: 0;
  bottom: -6px;
  border-radius: 1px;
  transition: width 0.3s ease-in-out;
}

.h-link:hover:after {
  width: 100%;
}

.h-link:hover {
  color: var(--red);
}

#header-links ul {
  list-style: none;
}

#header-links nav {
  position: relative;
}

/*
---------------------------------------RESPONSIVE LIST-------------------------
*/

.responsive-list {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

.line {
  width: 3.5em;
  height: 0.35em;
  background-color: var(--white);
  border-radius: 20px;
  margin: 0.7em;
  transition: 0.3s ease-in-out;
}

/* 
------------------------------------HEADER BUTTONS----------------------------------
*/

#header-buttons {
  padding: 0 70px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*
--------------------------------------DARK MODE---------------------------------
*/

#toggle-label {
  width: 87.5px;
  height: 35px;
  display: block;
  background-color: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.4),
    inset 0px -2px 6px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s;
}

#toggle-label:after {
  content: "";
  display: flex;
  margin: 2px;
  width: 31px;
  height: 31px;
  background: linear-gradient(180deg, #0d71dc, #0a60bb);
  border-radius: 180px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

#darkmode-toggle:checked + #toggle-label {
  background: #303030;
}

#darkmode-toggle:checked + #toggle-label:after {
  background: linear-gradient(180deg, #666, #3a3a3a);
  transform: translateX(-120%);
  margin-left: 90px;
}

#toggle-label:active:after {
  width: 40px;
}

/* 
-----------------------------------------SCROLLBAR---------------------------------
*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

body {
  overflow-x: hidden;
}

/*
--------------------------------------MAIN--------------------------------------
*/

main {
  width: 100vw;
  height: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 10vh 0;
}

.login-section {
  position: relative;
  aspect-ratio: 6/5;
  width: auto;
  padding: 40px;
  background: linear-gradient(rgba(29, 29, 29, 1), rgba(40, 40, 40, 1));
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--darker);
  border-radius: 12.5px;
}

.login-section * {
  text-shadow: 0 0 4.5px black;
}

.login-section h2 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  margin: 0 0 20px 0;
  cursor: default;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 350px;
  height: 40px;
  margin: 10px;
  padding: 0 15px;
  font-size: 1.5rem;
  color: var(--white);
  background: transparent;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.4);
}

form input::placeholder {
  color: var(--white);
  transition: transform 0.3s ease-in-out;
}

form input:focus::placeholder {
  transform: translateX(-75px);
}

form input:focus {
  border: none;
}

form input:last-child {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 15px 0 17px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  width: auto;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

form input:last-child:hover {
  color: var(--red);
  transform: translateY(-3px);
  box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.4);
}

/*
-------------------------------RESPONSYWNOŚĆ---------------------------------------
*/

@media only screen and (max-width: 1800px) {
  footer {
    display: none;
  }

  #header-links {
    width: 49vw;
  }

  #header-buttons {
    width: 30vw;
  }
}

@media only screen and (max-width: 1500px) {
  .header-wrapper {
    flex-direction: column;
    position: relative;
    flex-direction: column;
    width: auto;
    margin: 10vh 0;
    transform: translate(100%);
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(3px);
  }

  .responsive-list {
    display: block;
    position: absolute;
    right: 0;
    margin: 20px 20px 0 0;
    transition: 0.3s;
  }

  .responsive-list.active .line:first-child {
    transform: translateY(-300px);
  }
  .responsive-list.active .line:nth-child(2) {
    transform: rotate(220deg);
  }
  .responsive-list.active .line:nth-child(3) {
    transform: translateY(-17px) rotate(-220deg);
  }

  #header-shop-name a {
    font-size: 4rem;
  }

  #header-links,
  #header-buttons {
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    align-items: flex-end;
    justify-content: center;
    width: 30vw;
    flex-direction: column;
    padding: 0 2vw;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(3px);
  }

  #header-links {
    height: 100px;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    border-bottom: none;
    border-right: none;
  }

  #header-buttons {
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    border-right: none;
    padding: 0 2vw 40px 0;
  }

  #header-links.active,
  #header-buttons.active,
  .header-wrapper.active {
    transform: translate(0%);
  }

  header {
    justify-content: flex-end;
  }

  #header-links ul {
    flex-direction: column;
    align-items: flex-end;
  }

  #header-links a {
    font-size: 2rem;
  }

  #header-links li {
    margin: 10px 0;
  }

  #header-buttons button {
    height: 50px;
    width: 150px;
  }
}

@media only screen and (max-width: 530px) {
  #header-shop-name a {
    font-size: 3rem;
  }

  #header-shop-name {
    left: 35vw;
  }

  .responsive-list {
    display: block;
    position: absolute;
    right: 0;
    margin: 15px 15px 0 0;
  }

  #header-links,
  #header-buttons {
    width: 90vw;
  }

  .login-section {
    width: 90vw;
  }
  form input {
    width: 250px;
  }
}
